<a href="https://colab.research.google.com/github/sjapanjots/Analysis-report1/blob/main/Practice_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
n= int(input("enter a number "))
count=count1 = 0
while 0<n:
    d = n%10
    if d%2==0:
        count = count+1
    if d%2!=0:
        count1 = count1+1
    n = n//10 
print("total even digits " , count)
print("total odd digits " , count1)

enter a number 123
total even digits  1
total odd digits  2

#3WAP to check a number is curios or not (145)

In [5]:
n = int(input("enter a number "))
a = n
sum = 0
while n>0:
  d = n%10
  fact = 1
  while d>1:
    fact = fact*d
    d = d-1
  sum = sum + fact
  n = n//10
if sum == a:
  print("number is curious")
else:
  print("not a curious number")

enter a number 145
number is curious

WAP to print (1,1) (4,8) (9,27) (16,64)

In [9]:
i = 1
while i<=4:
  print("(",i**2,",",i**3,")")
  i = i+1

( 1 , 1 )
( 4 , 8 )
( 9 , 27 )
( 16 , 64 )

WAP to find avg of a range

In [11]:
a = int(input("enter starting of range"))
b = int(input("enter ending of range"))
sum = 0
count = 0
while a<=b:
  sum = sum+a
  count = count+1
  a = a+1
print("avg of range is " , sum/count)

enter starting of range1
enter ending of range5
avg of range is  3.0

In [14]:
a = int(input("enter starting of range"))
b = int(input("enter ending of range"))
sum=0
while a<=b:
  d = a%10
  sum = sum+d
  a = a+1
print("sum of last digit is", sum)

enter starting of range11
enter ending of range15
sum of last digit is 15

WAP to display sum of all no which is divisible by 2, divisible by 3 and divisible by both separately from a range

In [15]:
a = int(input("enter starting of range"))
b = int(input("enter ending of range"))
sum=sum1=sum3 = 0
while a<=b:
  if a%2==0:
    sum=sum+a
  if a%3==0:
    sum1=sum1+a
  if a%6==0:
    sum3=sum3+a
  a=a+1
print(sum)
print(sum1,sum3)

enter starting of range1
enter ending of range10
30
18 6